@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-mui-error {
  color: #d32f2f;
}

main {
  min-height: 100vh;
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  gap: 8px;
  border-bottom: 1px solid #00000050;
  background: linear-gradient(to bottom, #FFFFFF00 0%, #000000AA 100%);
  color: white;

}
.languageSelector {
  &_option {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}
